body {
    background-color: #460067;
    background-size: auto;
    transition: background-color 0.5s ease;
    }


button{
    background-color: rgba(26, 3, 65, 0.8);
    height: 40px;
    width: 200px;
    border-radius: 40px;
    border: none;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    color: rgb(255, 255, 255);
    cursor: pointer;
}

button:hover{
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 0px;
    border:#e3e3e4;
    margin: 10px 0px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
    cursor: pointer;
}